## Load EPA GHG Major Emitters data from 2021 datasets (see https://www.epa.gov/ghgreporting/data-sets) for original sources

Copyright (C) 2021 OS-Climate

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

### We have local copies rooted in the S3_BUCKET : s3://redhat-osc-physical-landing-647521352890/EPA/ghgp_data_parent_company_10_2021.xlsx and s3://redhat-osc-physical-landing-647521352890/EPA/ghgp_2020_data_summary_spreadsheets/

Contributed by Michael Tiemann (Github: MichaelTiemannOSC)

Load Credentials and Data Commons libraries

In [1]:
# From the AWS Account page, copy the export scripts from the appropriate role using the "Command Line or Programmatic Access" link
# Paste the copied text into ~/credentials.env

from dotenv import dotenv_values, load_dotenv
import os
import pathlib

dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

import osc_ingest_trino as osc
# import pyarrow as pa
# import pyarrow.parquet as pq
# import json

Create an S3 resource for the bucket holding source data

In [2]:
import boto3
s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

In [3]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)

ingest_catalog = 'osc_datacommons_dev'
ingest_schema = 'sandbox'
epa_table_prefix = '' if ingest_schema.startswith('epa_') else 'epa_'

sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': ingest_catalog,
    'schema': ingest_schema,
}

engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

# Show available schemas to ensure trino connection is set correctly
qres = engine.execute('show schemas')
qres.fetchall()

trino_bucket = osc.attach_s3_bucket("S3_DEV")

In [4]:
custom_meta_key_fields = 'metafields'
custom_meta_key = 'metaset'

qres = engine.execute(f'create schema if not exists {ingest_schema}')
qres.fetchall()

[(True,)]

Time for the Pandas!

In [5]:
import pandas as pd
import numpy as np
import re

For osc_datacommons_dev, a trino pipeline is a parquet data stored in the S3_DEV_BUCKET
It is a 5-step process to get there from a pandas dataframe

def create_trino_pipeline (s3, schemaname, tablename, timestamp, df, meta_fields, meta_content):
    global ingest_uuid
    global custom_meta_key_fields, custom_meta_key
    
    # First convert dataframe to pyarrow for type conversion and basic metadata
    table = pa.Table.from_pandas(df)
    # Second, since pyarrow tables are immutable, create a new table with additional combined metadata
    if meta_fields or meta_content:
        meta_json_fields = json.dumps(meta_fields)
        meta_json = json.dumps(meta_content)
        existing_meta = table.schema.metadata
        combined_meta = {
            custom_meta_key_fields.encode(): meta_json_fields.encode(),
            custom_meta_key.encode(): meta_json.encode(),
            **existing_meta
        }
        table = table.replace_schema_metadata(combined_meta)
    # Third, convert table to parquet format (which cannot be written directly to s3)
    pq.write_table(table, f'/tmp/{schemaname}.{tablename}.{ingest_uuid}.{timestamp}.parquet')
    # df.to_parquet(f'/tmp/{schemaname}.{tablename}.{uuid}.parquet', index=False)
    # Fourth, put the parquet-ified data into our S3 bucket for trino.  We cannot compute parquet format directly to S3 but we can copy it once computed
    s3.upload_file(
        Bucket=os.environ['S3_DEV_BUCKET'],
        Key=f'trino/{schemaname}/{tablename}/{ingest_uuid}/{timestamp}/data.parquet',
        Filename=f'/tmp/{schemaname}.{tablename}.{ingest_uuid}.{timestamp}.parquet'
    )
    # Finally, create the trino table backed by our parquet files enhanced by our metadata
    cur.execute(f'drop table if exists {schemaname}.{tablename}')
    print(f'dropping table: {tablename}')
    cur.fetchall()
    
    columnschema = create_table_schema_pairs(df)

    tabledef = f"""create table if not exists {schemaname}.{tablename}(
{columnschema}
) with (
    format = 'parquet',
    external_location = 's3a://{os.environ['S3_DEV_BUCKET']}/trino/{schemaname}/{tablename}/{ingest_uuid}/{timestamp}'
)"""
    print(tabledef)

    # tables created externally may not show up immediately in cloud-beaver
    cur.execute(tabledef)
    cur.fetchall()

Prepare GLEIF matching data

Load EPA GHGP data file using pandas *read_excel*

In [6]:
import io

bObj = bucket.Object('EPA/ghgp_data_parent_company_10_2021.xlsx')
ghgp_bytes = io.BytesIO(bObj.get()['Body'].read())
timestamp = bObj.last_modified.isoformat()

# The source data mistakenly codes ZIP as a number, which means ZIP codes like 02134 are coded as 2134

ghgp_parent = pd.read_excel(ghgp_bytes, sheet_name=None, dtype={'FRS ID (FACILITY)':'string', 'FACILITY NAICS CODE':'string', 'PARENT CO. PERCENT OWNERSHIP':'float32'}, parse_dates=['REPORTING YEAR'], date_parser=lambda x: pd.to_datetime(x, format='%Y'), engine='openpyxl')
for year in ghgp_parent.keys():
    df = ghgp_parent[year]
    df.loc[df['PARENT COMPANY NAME']=='INTERNATIONAL PAPER CO', ['PARENT CO. STREET ADDRESS']] = '6400 Poplar Ave.'
    df.loc[df['PARENT COMPANY NAME']=='Iowa Army Ammunition Plant', ['PARENT CO. STREET ADDRESS']] = '17571 DMC Highway 79'
    df.loc[df['FACILITY NAME']=='Avon Lake Power Plant', ['FACILITY ADDRESS']] = '16157 Co Rd 22'
    df.loc[df['FACILITY NAME']=='ENCANA OIL AND GAS USA - FORT LUPTON GAS PLANT', ['FACILITY ADDRESS']] = '33570 Lake Rd'
    df['FACILITY ZIP'] = df['FACILITY ZIP'].astype(str).str.zfill(5)
    df['PARENT CO. ZIP'] = df['PARENT CO. ZIP'].astype(str).str.zfill(5)
    # print(year + ' ' + str([x for x in ghgp_parent[year]['PARENT CO. STREET ADDRESS'].to_list() if x and re.match(r'^\d+$', str(x))]))
    
    gleif_file = s3_source.Object(os.environ['S3_LANDING_BUCKET'],f'mtiemann-GLEIF/ghgp-{year}-matches.csv')
    gleif_file.download_file(f'/tmp/ghgrp-gleif.csv')
    gleif_df = pd.read_csv(f'/tmp/ghgrp-gleif.csv', header=0, sep=',', dtype=str, engine='c')
    gleif_df.dropna(subset='PARENT COMPANY NAME', inplace=True)
    # Hand-fix LEIs
    gleif_df.loc[gleif_df['PARENT COMPANY NAME'].str.startswith('Algonquin Power '),
                 'LEI'] = '549300K5VIUTJXQL7X75'
    
    gleif_df.loc[gleif_df['PARENT COMPANY NAME'].str.upper().str.startswith('BROOKFIELD RENEWABLE ENERGY'),
                 'LEI'] = 'C6J3FGIWG6MBDGTE8F80'
    gleif_df.loc[gleif_df['PARENT COMPANY NAME']=='BROOKFIELD INFRASTRUCTURE PTNR',
                 'LEI'] = 'C6J3FGIWG6MBDGTE8F80'

    # Emera Inc has many subsidiaries
    gleif_df.loc[gleif_df['PARENT COMPANY NAME'].str.upper().str.startswith('PEOPLES NATURAL GAS'),
                 'LEI'] = 'NQZVQT2P5IUF2PGA1Q48'
    gleif_df.loc[gleif_df['PARENT COMPANY NAME'].str.upper().str.startswith('TAMPA ELECTRIC CO'),
                 'LEI'] = 'NQZVQT2P5IUF2PGA1Q48'
    gleif_df.loc[gleif_df['PARENT COMPANY NAME']=='TECO ENERGY INC', 'LEI'] = 'NQZVQT2P5IUF2PGA1Q48'
    
    gleif_df.loc[gleif_df['PARENT COMPANY NAME'].str.upper().str.startswith('NATIONAL GRID'),
                 'LEI'] = '8R95QZMKZLJX5Q2XR704'

    gleif_df.loc[gleif_df['PARENT COMPANY NAME'].str.upper().str.startswith('OHIO VALLEY ELECTRIC'),
                 'LEI'] = '549300MA7EMERVYDHS24'
    
    gleif_df.dropna(subset=['LEI'], inplace=True)
    gleif_dict = dict(zip(gleif_df['PARENT COMPANY NAME'], gleif_df.LEI))
    
    df['LEI'] = df['PARENT COMPANY NAME'].map(gleif_dict)
    print(f'year = {year}; non-NULL LEIs = {len(df[df.LEI.notnull()])}')
    
    cols = df.columns.tolist()
    ghgp_parent[year] = df[cols[0:2] + [cols[-1]] + cols[2:-1]]
    osc.enforce_sql_column_names(ghgp_parent[year], inplace=True)

year = 2020; non-NULL LEIs = 6699
year = 2019; non-NULL LEIs = 6865
year = 2018; non-NULL LEIs = 6873
year = 2017; non-NULL LEIs = 6860
year = 2016; non-NULL LEIs = 6955
year = 2015; non-NULL LEIs = 7220
year = 2014; non-NULL LEIs = 7054
year = 2013; non-NULL LEIs = 6880
year = 2012; non-NULL LEIs = 6723
year = 2011; non-NULL LEIs = 6296
year = 2010; non-NULL LEIs = 5010

In [8]:
# As a next step, load per-year data, which is more detailed
# i.e., bObj = bucket.Object(f'EPA/ghgp_2020_data_summary_spreadsheets/ghgp_data_{year}.xlsx')

bObj = bucket.Object(f'EPA/ghgp_2020_data_summary_spreadsheets/ghgp_data_by_year.xlsx')
ghgp_bytes = io.BytesIO(bObj.get()['Body'].read())
timestamp = max(timestamp, bObj.last_modified.isoformat())
    
ghg_data = pd.read_excel(ghgp_bytes, sheet_name=None, dtype={'FRS Id':'string'}, skiprows=3, engine='openpyxl')
for df_name, df in ghg_data.items():
    if df_name=='Industry Type':
        break
    if 'Zip Code' in df:
        df['Zip Code'] = df['Zip Code'].astype(str).str.zfill(5)
    elif 'Reported Zip Code' in df:
        df['Reported Zip Code'] = df['Reported Zip Code'].astype(str).str.zfill(5)
    df['Primary NAICS Code'] = df['Primary NAICS Code'].astype(str)
    df.replace('confidential', -1, inplace=True)
    if df_name=='CO2 Injection':
        # All info essentially confidential, but at least we know where facilities are
        ghg_data[df_name] = df
        continue
    df = df.convert_dtypes()
    # Some numeric info marked 'confidential' which will make for interesting NA handling...
    # df.info(verbose=True)
    ghg_data[df_name] = df

Construct the combined metadata by merging existing table metadata and custom metadata.
Note: The metadata content must be JSON serialisable and encoded as bytes; the metadata key must also be encoded as bytes.

In [9]:
tablename = f'{epa_table_prefix}parent_company'
df = pd.concat(ghgp_parent, ignore_index=True).convert_dtypes()
osc.enforce_sql_column_names(df, inplace=True)
drop_table = engine.execute(f"drop table if exists {ingest_schema}.{tablename}")
drop_table.fetchall()

columnschema = osc.create_table_schema_pairs(df, typemap={"datetime64[ns]":"timestamp(6)"})
tabledef = f"""
create table {tablename} (
{columnschema}
) with (
format = 'ORC',
partitioning = array['reporting_year']
)
"""
print(tabledef)
qres = engine.execute(tabledef)
print(qres.fetchall())

create table epa_parent_company (
    ghgrp_facility_id bigint,
    frs_id_facility varchar,
    lei varchar,
    reporting_year timestamp(6),
    facility_name varchar,
    facility_address varchar,
    facility_city varchar,
    facility_state varchar,
    facility_zip varchar,
    facility_county varchar,
    parent_company_name varchar,
    parent_co_street_address varchar,
    parent_co_city varchar,
    parent_co_state varchar,
    parent_co_zip varchar,
    parent_co_percent_ownership real,
    facility_naics_code varchar
) with (
format = 'ORC',
partitioning = array['reporting_year']
)

[(True,)]

In [10]:
df.to_sql(tablename,
          con=engine, schema=ingest_schema, if_exists='append',
          index=False,
          method=osc.TrinoBatchInsert(batch_size = 10000, verbose = True))

constructed fully qualified table name as: "sandbox.epa_parent_company"
inserting 10000 records
  (1000001, '110000490166', NULL, TIMESTAMP '2020-01-01 00:00:00', 'PSE Ferndale Generating Station', '5105 LAKE TERRELL ROAD', 'FERNDALE', 'WA', '98248', 'WHATCOM COUNTY', 'PUGET HOLDINGS LLC', 'PO Box 97034', 'Bellevue', 'WA', '98009', 100.0, '221112')
  (1000002, '110041175000', '5493004I6HQW11F10C18', TIMESTAMP '2020-01-01 00:00:00', 'Ardagh Glass Inc. (Dunkirk)', '524 E. CENTER STREET', 'DUNKIRK', 'IN', '47336', 'JAY COUNTY', 'ARDAGH GLASS INC', '1209 Orange Street', 'Wilmington', 'DE', '19801', 100.0, '327213')
  (1000003, '110001482887', '5493004I6HQW11F10C18', TIMESTAMP '2020-01-01 00:00:00', 'Ardagh Glass Inc. (Henderson)', '620 Facet Road', 'Henderson', 'NC', '27537', 'VANCE COUNTY', 'ARDAGH GLASS INC', '1209 Orange Street', 'Wilmington', 'DE', '19801', 100.0, '327213')
  ...
  (1001051, '110007356066', '3EERXCUSWMS9GV5D9M98', TIMESTAMP '2019-01-01 00:00:00', 'Scherer', '10986 HIGHWAY 87', 'JULIETTE', 'GA', '31046', 'Monroe', 'OGLETHORPE POWER CORP', '2100 East Exchange Place', 'Tucker', 'GA', '30085-1349', 30.0, '221112')
batch insert result: [(10000,)]
inserting 10000 records
  (1001051, '110007356066', 'UMI46YPGBLUE4VGNNT48', TIMESTAMP '2019-01-01 00:00:00', 'Scherer', '10986 HIGHWAY 87', 'JULIETTE', 'GA', '31046', 'Monroe', 'NEXTERA ENERGY INC', 'P. O. Box 14000', 'Juno Beach', 'FL', '33408-0420', 19.0, '221112')
  (1001051, '110007356066', 'JA0WNILDDF2KUPS83B16', TIMESTAMP '2019-01-01 00:00:00', 'Scherer', '10986 HIGHWAY 87', 'JULIETTE', 'GA', '31046', 'Monroe', 'MUNICIPAL ELECTRIC AUTHORITY OF GEORGIA', '1470 Riveredge Parkway NW', 'Atlanta', 'GA', '30328-4686', 15.0, '221112')
  (1001051, '110007356066', 'FTZJK89L6NCYPIPKZN93', TIMESTAMP '2019-01-01 00:00:00', 'Scherer', '10986 HIGHWAY 87', 'JULIETTE', 'GA', '31046', 'Monroe', 'JEA', '21 West Church Street', 'Jacksonville', 'FL', '32202', 6.0, '221112')
  ...
  (1001761, '110059019235', '549300ITPIHLG0LHEC09', TIMESTAMP '2018-01-01 00:00:00', 'Grayling Platform', NULL, 'Anchorage', 'AK', '99503', 'KENAI PENINSULA', 'HILCORP ENERGY CO', '1111 Travis St', 'Houston', 'TX', '77002', 100.0, '211120')
batch insert result: [(10000,)]
inserting 10000 records
  (1001762, '110017419523', '213800KAGOR41Q51VB58', TIMESTAMP '2018-01-01 00:00:00', 'Midwest Recycled & Coated Containerboard, LLC', '540 PROSPECT AVE', 'COMBINED LOCKS', 'WI', '54113', 'OUTAGAMIE COUNTY', 'APPLETON PROPERTY VENTURES LLC', '540 Prospect Street', 'Combined Locks', 'WI', '54113', 100.0, '322121')
  (1001763, '110043785794', '549300X0RZRBWLO0J697', TIMESTAMP '2018-01-01 00:00:00', 'Sambrito Compressor Station', NULL, 'Durango', 'CO', '81301', 'LA PLATA COUNTY', 'SOUTHERN UTE INDIAN TRIBE', '356 Ouray Dr.', 'Ignacio', 'CO', '81137', 51.0, '211130')
  (1001763, '110043785794', '549300WR7IX8XE0TBO16', TIMESTAMP '2018-01-01 00:00:00', 'Sambrito Compressor Station', NULL, 'Durango', 'CO', '81301', 'LA PLATA COUNTY', 'KINDER MORGAN INC', '500 Dallas St., Suite 1000', 'Houston', 'TX', '77002', 49.0, '211130')
  ...
  (1002340, '110013947881', '54930017INSPTNXLST45', TIMESTAMP '2017-01-01 00:00:00', 'CITY OF LA GRANGE LANDFILL', '2233 GREENVILLE ROAD', 'LAGRANGE', 'GA', '30241', 'TROUP COUNTY', 'CITY OF LAGRANGE GEORGIA', '200 Ridley Avenue', 'LaGrange', 'GA', '30240', 100.0, '562212')
batch insert result: [(10000,)]
inserting 10000 records
  (1002341, '110013922229', 'TPHWKPW6MRKN6NESLU52', TIMESTAMP '2017-01-01 00:00:00', 'LAUREL RIDGE LANDFILL', '3612 East Highway 552', 'LILY', 'KY', '40740', 'LAUREL COUNTY', 'WASTE CONNECTIONS INC', 'Waterway Plaza Two, 10001 Woodloch Forest Drive Suite 400', 'The Woodlands', 'TX', '77380', 100.0, '562212')
  (1002342, '110000341504', '5493005158BXZWGOX572', TIMESTAMP '2017-01-01 00:00:00', 'INVISTA S.A.R.L. WAYNESBORO FACILITY', '400 DU PONT BOULEVARD', 'WAYNESBORO', 'VA', '22980', 'WAYNESBORO CITY', 'KOCH INDUSTRIES INC', '4111 E 37th Street North', 'Wichita', 'KS', '67220', 100.0, '325222')
  (1002343, '110043793507', '5493007M02M6CT9EXE41', TIMESTAMP '2017-01-01 00:00:00', 'Beatrice Compressor Station', '30694 US Hwy 77', 'Beatrice', 'NE', '68310', 'GAGE COUNTY', 'NORTHERN NATURAL GAS CO', '1111 S. 103rd St', 'Omaha', 'NE', '68124', 100.0, '486210')
  ...
  (1002957, '110043815244', '549300XI2HUSB4L6GA44', TIMESTAMP '2016-01-01 00:00:00', 'Carrollton Utilities', '900 Clay Street', 'Carrollton', 'KY', '41008', 'CARROLL COUNTY', 'CITY OF CARROLLTON', '750 Clay Street', 'Carrollton', 'KY', '41008', 100.0, '221210')
batch insert result: [(10000,)]
inserting 10000 records
  (1002958, '110024423131', '549300GGJCRSI2TIEJ46', TIMESTAMP '2016-01-01 00:00:00', 'NUCOR STEEL HERTFORD COUNTY', '1505 RIVER RD', 'COFIELD', 'NC', '27922', 'HERTFORD COUNTY', 'NUCOR CORP', '1915 Rexford Road', 'Charlotte', 'NC', '28211', 100.0, '331111')
  (1002960, '110001472629', 'L1N0SPPKS7EXZYUMZ898', TIMESTAMP '2016-01-01 00:00:00', 'Darling Ingredients Inc.', '1299 Prisock Rd.', 'Jackson', 'MS', '39272', 'HINDS COUNTY', 'DARLING INGREDIENTS INC', '251 O''Connor Ridge Blvd, Suite 300', 'Irving', 'TX', '75038', 100.0, '311613')
  (1002961, '110000466380', '549300JI1115MG3Q6322', TIMESTAMP '2016-01-01 00:00:00', 'DAL TILE INTERNATIONAL', '12001 RAILROAD DRIVE', 'EL PASO', 'TX', '79934', 'EL PASO COUNTY', 'MOHAWK INDUSTRIES INC', '405 Virgil', 'Dalton', 'GA', '30722', 100.0, '327122')
  ...
  (1003349, '110000745739', '5493000C01ZX7D35SD85', TIMESTAMP '2015-01-01 00:00:00', 'JOHNS MANVILLE PLANT NO 2', '408 PERRY STREET', 'DEFIANCE', 'OH', '43512', 'DEFIANCE COUNTY', 'BERKSHIRE HATHAWAY INC', '3555 Farnam Street, Suite 1440', 'Omaha', 'NE', '68131', 100.0, '327993')
batch insert result: [(10000,)]
inserting 10000 records
  (1003352, '110057414070', '549300CRGMZK3K53BF92', TIMESTAMP '2015-01-01 00:00:00', 'ANHEUSER BUSCH INCORPORATED FORT COLLINS BREWERY', '2351 BUSCH DRIVE', 'FORT COLLINS', 'CO', '80524', 'LARIMER COUNTY', 'ANHEUSER-BUSCH INBEV', 'One Busch Place', 'St. Louis', 'MO', '63118', 100.0, '312120')
  (1003354, '110043803505', NULL, TIMESTAMP '2015-01-01 00:00:00', 'Riviera Resources - West Main Compressor Station', '7822 W, Highway 160', 'Ulysses', 'KS', '67880', 'GRANT COUNTY', 'REGENCY ENERGY PARTNERS LP', '2001 Bryan Street, Suite 3700', 'Dallas', 'TX', '75201', 100.0, '211111')
  (1003355, '110011031052', '04Y1L40RYNUCL020XS57', TIMESTAMP '2015-01-01 00:00:00', 'GALLUP REFINERY', '92 Giant Crossing', 'Jamestown', 'NM', '87347', 'MCKINLEY COUNTY', 'WESTERN REFINING INC', '1250 W. Washington Suite 101', 'Tempe', 'AZ', '85281', 100.0, '324110')
  ...
  (1003191, '110070081853', '5493008K8W3OKZE54J59', TIMESTAMP '2014-01-01 00:00:00', 'FLORIDA GAS TRANSMISSION COMPANY - WIGGINS', '201 FLORIDA GAS ROAD', 'WIGGINS', 'MS', '39577', 'PERRY COUNTY', 'ENERGY TRANSFER PARTNERS, LP', '800 E Sonterra Blvd', 'San Antonio', 'TX', '78258', 50.0, '486210')
batch insert result: [(10000,)]
inserting 10000 records
  (1003191, '110070081853', '549300WR7IX8XE0TBO16', TIMESTAMP '2014-01-01 00:00:00', 'FLORIDA GAS TRANSMISSION COMPANY - WIGGINS', '201 FLORIDA GAS ROAD', 'WIGGINS', 'MS', '39577', 'PERRY COUNTY', 'Kinder Morgan', '1001 Louisiana', 'Houston', 'TX', '77002', 50.0, '486210')
  (1003192, '110009021254', '549300WR7IX8XE0TBO16', TIMESTAMP '2014-01-01 00:00:00', 'FLORIDA GAS TRANSMISSION COMPANY - ZACHARY', '8406 LOWER ZACHARY ROAD', 'ZACHARY', 'LA', '70791', 'EAST BATON ROUGE PARISH', 'Kinder Morgan', '1001 Louisiana', 'Houston', 'TX', '77002', 50.0, '486210')
  (1003192, '110009021254', '5493008K8W3OKZE54J59', TIMESTAMP '2014-01-01 00:00:00', 'FLORIDA GAS TRANSMISSION COMPANY - ZACHARY', '8406 LOWER ZACHARY ROAD', 'ZACHARY', 'LA', '70791', 'EAST BATON ROUGE PARISH', 'ENERGY TRANSFER PARTNERS, LP', '800 E Sonterra Blvd', 'San Antonio', 'TX', '78258', 50.0, '486210')
  ...
  (1002987, '110038503900', '549300LQ4GTF89QODQ90', TIMESTAMP '2013-01-01 00:00:00', 'Montclair State University', '1 Normal Avenue', 'Montclair', 'NJ', '07043', 'ESSEX COUNTY', 'MONTCLAIR STATE UNIVERSITY', '1 Normal Ave', 'Upper Montclair', 'NJ', '07043', 100.0, '611310')
batch insert result: [(10000,)]
inserting 10000 records
  (1002988, '110032665300', '5493004I4GZGIUUZ4033', TIMESTAMP '2013-01-01 00:00:00', 'LOUIS DREYFUS COMPANY AGRICULTURAL INDUSTRIES LL', '7344 STATE ROAD 15 SOUTH', 'CLAYPOOL', 'IN', '46510', 'KOSCIUSKO COUNTY', 'Louis Dreyfus Commodities', '4800 Main Street, Ste 600', 'Kansas City', 'MO', '64112-2505', 100.0, '311222')
  (1002989, '110043805585', '549300XTO5VR8SKV1V74', TIMESTAMP '2013-01-01 00:00:00', 'Valero Bloominburg Plant', '3979 ST RT 238 NE', 'BLOOMINGBURG', 'OH', '43106', 'FAYETTE COUNTY', 'Valero Energy Corporation', 'One Valero Way', 'San Antonio', 'TX', '78249', 100.0, '325193')
  (1002990, '110060947409', NULL, TIMESTAMP '2013-01-01 00:00:00', 'LEE/HENDRY COUNTY REGIONAL SOLID WASTE DISPOSAL FACILITY', '5500 CHURCH ROAD', 'FELDA', 'FL', '33930', 'HENDRY COUNTY', 'Lee County Board of County Commissioners ', '1500 Monroe Street', 'Fort Myers', 'FL', '33901', 100.0, '562212')
  ...
  (1003086, '110070081849', '549300CRGMZK3K53BF92', TIMESTAMP '2012-01-01 00:00:00', 'BUSCH AGRICULTURAL RESOURCES - MOORHEAD', '2101 28TH STREET SOUTH', 'MOORHEAD', 'MN', '56560', 'CLAY', 'ANHEUSER-BUSCH INBEV', '1 Busch Place', 'Saint Loiuis', 'MO', '63118', 100.0, '311213')
batch insert result: [(10000,)]
inserting 10000 records
  (1003087, '110000600369', '549300UJE28WHXXT6312', TIMESTAMP '2012-01-01 00:00:00', 'SIMPLOT PHOSPHATES', '515 S HWY 430', 'ROCK SPRINGS', 'WY', '82901', 'SWEETWATER', 'JR SIMPLOT CO', '999 Main Street Suite 1300', 'Boise', 'ID', '83702', 100.0, '325312')
  (1003088, '110070081850', 'CZ6VG2MNE1J6YDI02G48', TIMESTAMP '2012-01-01 00:00:00', 'SOUTH ZYBACH COMPRESSOR STATION', '16465 FM 1046', 'Briscoe', 'TX', '79011', 'WHEELER', 'Enbridge Energy Partners, L.P.', '1100 Louisiana Street, Suite 3300', ' Houston', 'TX', '77002', 100.0, '211111')
  (1003090, '110001370944', '5493003FRODSVHJWFS32', TIMESTAMP '2012-01-01 00:00:00', 'HOLLY BEACH COMPRESSOR STATION #701', '4918 GULF BEACH HWY', 'CAMERON', 'LA', '70631', 'CAMERON', 'Enbridge Inc', '1100 Louisiana St Suite 33', 'Houston', 'TX', '77002', 100.0, '486210')
  ...
  (1003403, '110060497001', NULL, TIMESTAMP '2011-01-01 00:00:00', 'AK STEEL DEARBORN WORKS', '4001 MILLER RD', 'DEARBORN', 'MI', '48120', 'WAYNE', 'SEVERSTAL NORTH AMERICA, INC', '14661 Rotunda Drive', 'Dearborn', 'MI', '48120', 100.0, '331111')
batch insert result: [(10000,)]
inserting 10000 records
  (1003405, '110007058940', '549300CRGMZK3K53BF92', TIMESTAMP '2011-01-01 00:00:00', 'BUSCH AGRICULTURAL RESOURCES', '5755 SOUTH YELLOWSTONE HIGHWAY', 'IDAHO FALLS', 'ID', '83402', 'BONNEVILLE', 'ANHEUSER-BUSCH INBEV', 'One Busch Place', 'St. Louis', 'MO', '63118', 100.0, '311213')
  (1003406, '110001697799', '549300YX8JIID70NFS41', TIMESTAMP '2011-01-01 00:00:00', 'Tontitown Landfill', '2210 Waste Management Drive', 'Springdale', 'AR', '72762', 'WASHINGTON COUNTY', 'Waste Management, Inc.', '1001 Fannin, Suite 4000', 'Houston', 'TX', '77002', 100.0, '562212')
  (1003407, '110064064408', '549300O045XJ3BHF0C37', TIMESTAMP '2011-01-01 00:00:00', 'UNISEA - DUTCH HARBOR', '88 SALMON WAY', 'DUTCH HARBOR', 'AK', '99692', 'ALEUTIANS WEST', 'UNISEA, INC', '15400 NE 90th Street', 'Redmond', 'WA', '98052', 100.0, '311711')
  ...
  (1004608, '110000419789', '549300XTO5VR8SKV1V74', TIMESTAMP '2010-01-01 00:00:00', 'Valero Jefferson Plant', 'N5355 Junction Road', 'Jefferson', 'WI', '53549', 'JEFFERSON', 'Valero', 'One Valero Way', 'San Antonio', 'TX', '78249', 100.0, '325193')
batch insert result: [(10000,)]
inserting 3043 records
  (1004609, '110001710630', '5493005PE286U4OJ2S64', TIMESTAMP '2010-01-01 00:00:00', 'SAINT GOBAIN PROPPANTS (FS)', '5300 GERBER ROAD', 'FORT SMITH', 'AR', '72904', 'SEBASTIAN COUNTY', 'Saint Gobain North America', '750 E Swedesford Road', 'Valley Forge', 'PA', '19482-7187', 100.0, '327992')
  (1004610, '110000596533', '5493002BI0S2ZQUY3437', TIMESTAMP '2010-01-01 00:00:00', 'THE GOODYEAR TIRE & RUBBER COMPANY - TOPEKA KANSAS PLANT', '2000 NORTHWEST HIGHWAY U.S. 24', 'TOPEKA', 'KS', '66618', 'SHAWNEE COUNTY', 'The Goodyear Tire & Rubber Company', '1144 East Market Street', 'Akron', 'OH', '44316-0001', 100.0, '326211')
  (1004611, '110008062256', NULL, TIMESTAMP '2010-01-01 00:00:00', 'Tanguisson Power Plant', 'NCS', 'Dededo', 'GU', '96929', 'GUAM', 'Pruvient Energy Guam Investments Inc. ', 'One Buckhead Plaza, 3060 Peachtree Road, N.E., Suite 1700 ', 'atlanta', 'GA', '30305', 100.0, '221112')
  ...
  (1012137, '110070069485', '549300LWX80CW8MCYW26', TIMESTAMP '2010-01-01 00:00:00', 'FSD Group LLC', '8290 NW 25th Street', 'Miami', 'FL', '33122', 'MIAMI-DADE COUNTY', 'SAEZ HOLDINGS', '8290 NW 25 St.', 'Miami', 'FL', '33122', 100.0, '221330')
batch insert result: [(3043,)]

### Melt the generation data into a more tidy format, dropping NA values

In [11]:
for tablename, ghg_table in ghg_data.items():
    if tablename=='Industry Type':
        break
    print(f':{tablename}:')
    # Melt the data...
    if tablename in ['Gathering & Boosting', 'Transmission Pipelines', 'Geologic Sequestration of CO2']:
        ghg_value_vars = ghg_table.columns[-5:]
        ghg_id_vars = ghg_table.columns[:-5]
    elif tablename=='Suppliers':
        continue
    else:
        ghg_value_vars = ghg_table.columns[-10:]
        ghg_id_vars = ghg_table.columns[:-10]
    
    if False:
        # We leave in place the fact that all total reported emissions retain their categorization as to source
        # It's temping to rename these all to 'total_reported_emissions' so that they'd magically sum together if asked.
        # But there's no easy way in SQL to do that join without the tables exploding (because there's no natural key)
        _, value_name = ghg_value_vars[0].split(' ', 1)
    else:
        # We DO change the name to total_reported_emissions so that we don't
        # run out of identifier length adding _units to the units-bearing column
        # (as we would with 'total_reported_direct_emissions_from_electrical_equipment_use'
        # (only room for 'total_reported_direct_emissions_from_electrical_equipment_use_u'))
        value_name = 'total_reported_emissions'
    
    ghg_melted_df = ghg_table.melt(ghg_id_vars, ghg_value_vars, var_name='year', value_name=value_name)
    ghg_melted_df.dropna(subset=[value_name],inplace=True)
    ghg_melted_df.year = ghg_melted_df.year.apply(lambda x: x.split(' ', 1)[0])
    ghg_melted_df['year'] = pd.to_datetime(ghg_melted_df['year'], format='%Y', utc=True)
    ghg_melted_df[value_name] = ghg_melted_df[value_name].astype('float64')
    ghg_melted_df[value_name + '_units'] = 't CO2'
    ghg_melted_df = ghg_melted_df.convert_dtypes()
    # Put year at the end to make for more friendly partitioning
    ghg_melted_df = ghg_melted_df[ghg_melted_df.columns[:-3].to_list()
                                  + [ghg_melted_df.columns[-2], ghg_melted_df.columns[-1], ghg_melted_df.columns[-3]]]
    tablename = osc.sql_compliant_name(epa_table_prefix+tablename)
    osc.enforce_sql_column_names(ghg_melted_df, inplace=True)
    drop_table = engine.execute(f"drop table if exists {ingest_schema}.{tablename}")
    drop_table.fetchall()

    columnschema = osc.create_table_schema_pairs(ghg_melted_df, typemap={"datetime64[ns, UTC]":"timestamp(6)"})
    tabledef = f"""
create table {tablename} (
{columnschema}
) with (
    format = 'ORC',
    partitioning = array['year']
)
"""
    print(tabledef)
    
    qres = engine.execute(tabledef)
    print(qres.fetchall())
    ghg_melted_df.to_sql(tablename,
                         con=engine, schema=ingest_schema, if_exists='append',
                         index=False,
                         method=osc.TrinoBatchInsert(batch_size = 10000, verbose = True))

:Direct Emitters:

create table epa_direct_emitters (
    facility_id bigint,
    frs_id varchar,
    facility_name varchar,
    city varchar,
    state varchar,
    zip_code varchar,
    address varchar,
    county varchar,
    latitude double,
    longitude double,
    primary_naics_code varchar,
    latest_reported_industry_type_subparts varchar,
    latest_reported_industry_type_sectors varchar,
    total_reported_emissions double,
    total_reported_emissions_units varchar,
    year timestamp(6)
) with (
    format = 'ORC',
    partitioning = array['year']
)

[(True,)]
constructed fully qualified table name as: "sandbox.epa_direct_emitters"
inserting 10000 records
  (1004377, '110043803578', '121 REGIONAL DISPOSAL FACILITY', 'MELISSA', 'TX', '75454', '3820 SAM RAYBURN HIGHWAY', 'COLLIN COUNTY', 33.29857, -96.53586, '562212', 'HH', 'Waste', 504064.0, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  (1000112, '110019827286', '23rd and 3rd', 'BROOKLYN', 'NY', '11232', '730 3rd Avenue', 'Kings', 40.663, -74.0, '221112', 'C,D', 'Power Plants', 60819.7, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  (1003742, '110010392887', '31st Street Landfill', 'WESTCHESTER', 'IL', '60154', '11700 W 31ST ST', 'COOK COUNTY', 41.835129, -87.915924, '562212', 'C,HH', 'Waste', 100500.948, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  ...
  (1005713, '110000608245', 'Limestone', 'JEWETT', 'TX', '75846', '3964 FM 39', 'Limestone', 31.4219, -96.2525, '221112', 'D', 'Power Plants', 9027825.082, 't CO2', TIMESTAMP '2019-01-01 00:00:00+00:00')
batch insert result: [(10000,)]
inserting 10000 records
  (1006451, '110000307864', 'Limetree Bay Refining and Terminals, LLC', 'CHRISTIANSTED', 'VI', '00820', '1 ESTATE HOPE', 'ST. CROIX ISLAND', 17.7102, -64.7544, '324110', 'C,MM-REF,Y', 'Petroleum Product Suppliers,Refineries', 135500.744, 't CO2', TIMESTAMP '2019-01-01 00:00:00+00:00')
  (1000060, '110022515777', 'Limon Generating Station', 'LIMON', 'CO', '80828', '48303 STATE ROAD 71', 'Lincoln', 39.2038, -103.7005, '221112', 'C,D', 'Power Plants', 45159.774, 't CO2', TIMESTAMP '2019-01-01 00:00:00+00:00')
  (1001109, '110001495347', 'Lincoln', 'STANLEY', 'NC', '28164', '6769 OLD PLANK ROAD', 'Lincoln', 35.4317, -81.0347, '221112', 'D', 'Power Plants', 23284.654, 't CO2', TIMESTAMP '2019-01-01 00:00:00+00:00')
  ...
  (1012036, '110028118757', 'AltEn, LLC', 'Mead', 'NE', '68041', '1344 County Road 10', 'SAUNDERS COUNTY', 41.19714, -96.4808, '325193', 'C', 'Other', 20499.01, 't CO2', TIMESTAMP '2017-01-01 00:00:00+00:00')
batch insert result: [(10000,)]
inserting 10000 records
  (1001625, '110000508086', 'AltaGas Ripon Energy Inc.', 'Ripon', 'CA', '95366', '944 South Stockton Ave.', 'SAN JOAQUIN COUNTY', 37.7313, -121.1161, '221112', 'C', 'Power Plants', 10245.812, 't CO2', TIMESTAMP '2017-01-01 00:00:00+00:00')
  (1007072, '110008153032', 'Altair Disposal Services, LLC', 'Altair', 'TX', '77412', '5464 Highway 71', 'COLORADO COUNTY', 29.575044, -96.46439, '562212', 'HH', 'Waste', 33566.25, 't CO2', TIMESTAMP '2017-01-01 00:00:00+00:00')
  (1007699, '110000831404', 'Altamont Landfill & Resource Recovery Facility', 'Livermore', 'CA', '94551', '10840 Altamont Pass Road', 'ALAMEDA COUNTY', 37.753333, -121.648611, '562212', 'C,HH', 'Waste', 170502.338, 't CO2', TIMESTAMP '2017-01-01 00:00:00+00:00')
  ...
  (1011671, '110059673900', 'Mission Solar Energy, LLC', 'San Antonio', 'TX', '78235', '8303 S New Braunfels', 'BEXAR COUNTY', 29.339345, -98.43792, '334413', 'C,I', 'Other', 7806.4386, 't CO2', TIMESTAMP '2016-01-01 00:00:00+00:00')
batch insert result: [(10000,)]
inserting 10000 records
  (1010064, '110070082058', 'Mississippi Canyon 109 A', 'Offshore', 'LA', '00000', NULL, NULL, 28.86467752, -88.93079054, '211120', 'C,W-OFFSH', 'Petroleum and Natural Gas Systems', 30639.316, 't CO2', TIMESTAMP '2016-01-01 00:00:00+00:00')
  (1002651, '110043801419', 'Mississippi Canyon 650 A', 'Offshore', 'LA', '00000', NULL, 'ST. TAMMANY PARISH', 28.341535, -88.265687, '211120', 'C,W-OFFSH', 'Petroleum and Natural Gas Systems', 34735.942, 't CO2', TIMESTAMP '2016-01-01 00:00:00+00:00')
  (1011527, '110063697245', 'Mississippi Canyon 724 Gulfstar 1 (Tubular Bells)', 'Offshore', 'LA', '00000', NULL, NULL, 28.23497, -88.99536, '211120', 'C,W-OFFSH', 'Petroleum and Natural Gas Systems', 82838.496, 't CO2', TIMESTAMP '2016-01-01 00:00:00+00:00')
  ...
  (1006054, '110011273022', 'AG PROCESSING INC-EAGLE GROVE', 'EAGLE GROVE', 'IA', '50533', '500 NORTH COMMERCIAL AVENUE', 'WRIGHT COUNTY', 42.669167, -93.904444, '311224', 'C', 'Other', 127059.26, 't CO2', TIMESTAMP '2014-01-01 00:00:00+00:00')
batch insert result: [(10000,)]
inserting 10000 records
  (1002291, '110000427093', 'AG PROCESSING INCORPORATED A COOPERATIVE', 'DAWSON', 'MN', '56232', '800 DIAGONAL STREET', 'LAC QUI PARLE COUNTY', 44.93265, -96.056491, '311224', 'C', 'Other', 32785.706, 't CO2', TIMESTAMP '2014-01-01 00:00:00+00:00')
  (1007333, '110003253121', 'AGC FLAT GLASS N AMERICA INC', 'RICHMOND', 'KY', '40475', '201 DUNCANNON LANE', 'MADISON COUNTY', 37.70034, -84.26929, '327211', 'C,N', 'Minerals', 69030.128, 't CO2', TIMESTAMP '2014-01-01 00:00:00+00:00')
  (1004631, '110000445322', 'AGC FLAT GLASS NORTH AMERICA SPRING HILL PLANT', 'SPRING HILL', 'KS', '66083', '20400 NORTH WEBSTER STREET', 'JOHNSON COUNTY', 38.759188, -94.825252, '327211', 'C,N', 'Minerals', 98877.532, 't CO2', TIMESTAMP '2014-01-01 00:00:00+00:00')
  ...
  (1002717, '110001522530', 'Gold Bond - POR Plant', 'PORTSMOUTH', 'NH', '03801', '9 MICHAEL J SUCCI DR', 'ROCKINGHAM COUNTY', 43.088056, -70.767222, '327420', 'C', 'Minerals', 27250.348, 't CO2', TIMESTAMP '2013-01-01 00:00:00+00:00')
batch insert result: [(10000,)]
inserting 10000 records
  (1006813, '110007729397', 'Gold Bond - PRY Plant', 'PRYOR', 'OK', '74361', '4189 HUNT STREET', 'MAYES COUNTY', 36.250832, -95.276947, '322121', 'C', 'Pulp and Paper', 44042.184, 't CO2', TIMESTAMP '2013-01-01 00:00:00+00:00')
  (1000403, '110013286504', 'Gold Bond - ROT Plant', 'ROTAN', 'TX', '79546', '832 COUNTY ROAD 311', 'FISHER COUNTY', 32.83646, -100.44889, '327420', 'C', 'Minerals', 41919.792, 't CO2', TIMESTAMP '2013-01-01 00:00:00+00:00')
  (1002807, '110017435925', 'Gold Bond - SHI Plant', 'SHIPPINGPORT', 'PA', '15077', '168 SHIPPINGPORT HILL ROAD', 'BEAVER COUNTY', 40.62898, -80.4198, '327420', 'C', 'Minerals', 61497.168, 't CO2', TIMESTAMP '2013-01-01 00:00:00+00:00')
  ...
  (1003087, '110000600369', 'SIMPLOT PHOSPHATES', 'ROCK SPRINGS', 'WY', '82901', '515 S HWY 430', 'SWEETWATER COUNTY', 41.5414, -109.131, '325312', 'C,G,Z', 'Chemicals', 72537.208, 't CO2', TIMESTAMP '2012-01-01 00:00:00+00:00')
batch insert result: [(10000,)]
inserting 8472 records
  (1007218, '110011942719', 'SINCLAIR CASPER REFINING COMPANY', 'CASPER', 'WY', '82609', '5700 EAST HIGHWAY 20/26', 'NATRONA COUNTY', 42.5129, -106.1434, '324110', 'C,MM-REF,Y', 'Petroleum Product Suppliers,Refineries', 209132.226, 't CO2', TIMESTAMP '2012-01-01 00:00:00+00:00')
  (1007217, '110000468093', 'SINCLAIR OIL CORPORATION', 'SINCLAIR', 'WY', '82334', '100 EAST LINCOLN AVENUE', 'CARBON COUNTY', 41.77899, -107.104, '324110', 'C,MM-REF,P,Y', 'Chemicals,Petroleum Product Suppliers,Refineries', 951954.846, 't CO2', TIMESTAMP '2012-01-01 00:00:00+00:00')
  (1002656, '110035779495', 'SIOUX FALLS REGIONAL SANITARY LANDFILL (SFRSL)', 'Hartford', 'SD', '57033', '26750 464TH AVE', 'MINNEHAHA COUNTY', 43.5029, -96.9299, '562212', 'HH', 'Waste', 64460.5, 't CO2', TIMESTAMP '2012-01-01 00:00:00+00:00')
  ...
  (1011696, '110064007550', 'white oak landfill', 'waynesville', 'NC', '28785', '3898 fines creek rd', 'HAYWOOD COUNTY', 35.661943, -82.996087, '562212', 'C,HH', 'Waste', 38540.0, 't CO2', TIMESTAMP '2011-01-01 00:00:00+00:00')
batch insert result: [(8472,)]
:Onshore Oil & Gas Prod.:

create table epa_onshore_oil_gas_prod (
    facility_id bigint,
    frs_id varchar,
    facility_name varchar,
    basin varchar,
    reported_city varchar,
    reported_state varchar,
    reported_zip_code varchar,
    reported_address varchar,
    reported_county varchar,
    reported_latitude double,
    reported_longitude double,
    primary_naics_code varchar,
    latest_reported_industry_type_subparts varchar,
    total_reported_emissions double,
    total_reported_emissions_units varchar,
    year timestamp(6)
) with (
    format = 'ORC',
    partitioning = array['year']
)

[(True,)]
constructed fully qualified table name as: "sandbox.epa_onshore_oil_gas_prod"
inserting 5068 records
  (1000355, '110002972506', '#540 BONANZA CREEK ENERGY - DENVER BASIN', '540 - Denver Basin', 'Denver', 'CO', '80202', '410 17th Street, Suite 1500', 'DENVER COUNTY', 39.74431, -104.98858, '211120', 'W-ONSH', 293919.042, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  (1009238, '110014409684', '220 Gulf Coast Basin DEC', '220 - Gulf Coast Basin (LA, TX)', 'Oklahoma City', 'OK', '73102', '333 West Sheridan Ave', 'OKLAHOMA COUNTY', 35.466697, -97.51453, '211120', 'W-ONSH', 586008.596, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  (1009170, '110038073679', '260 East Texas Basin - BP America Production Company', '260 - East Texas Basin', 'Houston', 'TX', '77079', '501 Westlake Park Blvd.', 'HARRIS COUNTY', 29.78037, -95.6295, '211130', 'W-ONSH', 23735.104, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  ...
  (1009162, '110004766129', 'Zenergy, Inc., Code 395, Williston Basin', '395 - Williston Basin', 'Tulsa', 'OK', '74136', '6100 South Yale Avenue, Suite 1700', 'TULSA COUNTY', 36.07261, -95.9231, '211111', 'W-ONSH', 110888.946, 't CO2', TIMESTAMP '2011-01-01 00:00:00+00:00')
batch insert result: [(5068,)]
:Gathering & Boosting:

create table epa_gathering_boosting (
    facility_id bigint,
    frs_id varchar,
    facility_name varchar,
    basin varchar,
    reported_city varchar,
    reported_state varchar,
    reported_zip_code varchar,
    reported_address varchar,
    reported_county varchar,
    reported_latitude double,
    reported_longitude double,
    primary_naics_code varchar,
    latest_reported_industry_type_subparts varchar,
    total_reported_emissions double,
    total_reported_emissions_units varchar,
    year timestamp(6)
) with (
    format = 'ORC',
    partitioning = array['year']
)

[(True,)]
constructed fully qualified table name as: "sandbox.epa_gathering_boosting"
inserting 1703 records
  (1012156, '110070082178', '260 - East Texas Basin Gathering/Boosting', '260 - East Texas Basin', 'Houston', 'TX', '77079', '737 Eldridge Parkway', 'HARRIS COUNTY', 29.77455, -95.61949, '211130', 'W-GB', 7459.59, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  (1013937, '110070930993', '3Bear - 430 - Permian Basin Gathering and Boosting', '430 - Permian Basin', 'Hobbs', 'NM', '88240', '674 Marathon Rd', 'LEA COUNTY', 32.540693, -103.522351, '211120', 'W-GB', 32906.048, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  (1013815, '110070225663', '430 Cotton Draw Midstream', '430 - Permian Basin', 'Oklahoma City', 'OK', '73102', '333 West Sheridan Avenue', 'OKLAHOMA COUNTY', 35.46646, -97.51831, '211120', 'W-GB', 95881.246, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  ...
  (1012581, '110070082378', 'XTO Energy Inc 595 Piceance – GB', '595 - Piceance Basin', 'Aztec', 'NM', '87410', '382 Road 3100', 'SAN JUAN COUNTY', 36.7561, -108.05952, '211130', 'W-GB', 40638.552, 't CO2', TIMESTAMP '2016-01-01 00:00:00+00:00')
batch insert result: [(1703,)]
:Transmission Pipelines:

create table epa_transmission_pipelines (
    facility_id bigint,
    frs_id varchar,
    facility_name varchar,
    state_where_emissions_occur varchar,
    reported_city varchar,
    reported_state varchar,
    reported_zip_code varchar,
    reported_address varchar,
    reported_county varchar,
    reported_latitude double,
    reported_longitude double,
    primary_naics_code varchar,
    latest_reported_industry_type_subparts varchar,
    total_reported_emissions double,
    total_reported_emissions_units varchar,
    year timestamp(6)
) with (
    format = 'ORC',
    partitioning = array['year']
)

[(True,)]
constructed fully qualified table name as: "sandbox.epa_transmission_pipelines"
inserting 780 records
  (1012420, '110070082278', 'Algonquin Gas Transmission L.L.C.', 'Connecticut', 'Houston', 'TX', '77056', '5400 Westheimer Court', 'HARRIS COUNTY', 29.74013, -95.47309, '486210', 'W-TRANS', 1036.7, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  (1012420, '110070082278', 'Algonquin Gas Transmission L.L.C.', 'Massachusetts', 'Houston', 'TX', '77056', '5400 Westheimer Court', 'HARRIS COUNTY', 29.74013, -95.47309, '486210', 'W-TRANS', 337.4, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  (1012420, '110070082278', 'Algonquin Gas Transmission L.L.C.', 'New Jersey', 'Houston', 'TX', '77056', '5400 Westheimer Court', 'HARRIS COUNTY', 29.74013, -95.47309, '486210', 'W-TRANS', 9.75, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  ...
  (1012277, '110070082221', 'Transmission Pipeline Facility, Tennessee Gas Pipeline Company, L.L.C.', 'West Virginia', 'Houston', 'TX', '77002', '1001 Louisiana St, Suite 1000', 'HARRIS COUNTY', 29.75816, -95.36782, '486210', 'W-TRANS', 10019.04, 't CO2', TIMESTAMP '2016-01-01 00:00:00+00:00')
batch insert result: [(780,)]
:LDC - Direct Emissions:

create table epa_ldc_direct_emissions (
    facility_id bigint,
    frs_id varchar,
    facility_name varchar,
    state_where_emissions_occur varchar,
    reported_city varchar,
    reported_state varchar,
    reported_zip_code varchar,
    reported_address varchar,
    reported_county varchar,
    reported_latitude double,
    reported_longitude double,
    primary_naics_code varchar,
    latest_reported_industry_type_subparts varchar,
    total_reported_emissions double,
    total_reported_emissions_units varchar,
    year timestamp(6)
) with (
    format = 'ORC',
    partitioning = array['year']
)

[(True,)]
constructed fully qualified table name as: "sandbox.epa_ldc_direct_emissions"
inserting 1730 records
  (1008026, '110010724216', 'Ameren Illinois', 'IL', 'Peoria', 'IL', '61602', '300 Liberty Street', 'PEORIA COUNTY', 40.69048, -89.59244, '221210', 'NN-LDC,W-LDC', 74939.996, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  (1004034, '110011771948', 'Ameren Missouri', 'MO', 'St. Louis', 'MO', '63103', '1901 Chouteau Avenue', 'ST. LOUIS CITY', 38.620785, -90.211635, '221210', 'NN-LDC,W-LDC', 14759.55, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  (1007872, '110043799654', 'Atlanta Gas Light Company', 'GA', 'Atlanta', 'GA', '30309', 'Ten Peachtree Place', 'FULTON COUNTY', 33.780708, -84.387782, '221210', 'NN-LDC,W-LDC', 165161.15, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  ...
  (1007107, '110033645580', 'Yankee Gas Supply', 'CT', 'Berlin', 'CT', '06037', '107 Selden Street', 'HARTFORD COUNTY', 41.648374, -72.727969, '221210', 'NN-LDC,W-LDC', 84401.1, 't CO2', TIMESTAMP '2011-01-01 00:00:00+00:00')
batch insert result: [(1730,)]
:SF6 from Elec. Equip.:

create table epa_sf6_from_elec_equip (
    facility_id bigint,
    frs_id varchar,
    facility_name varchar,
    reported_city varchar,
    reported_state varchar,
    reported_zip_code varchar,
    reported_address varchar,
    reported_county varchar,
    reported_latitude double,
    reported_longitude double,
    primary_naics_code varchar,
    latest_reported_industry_type_subparts varchar,
    total_reported_emissions double,
    total_reported_emissions_units varchar,
    year timestamp(6)
) with (
    format = 'ORC',
    partitioning = array['year']
)

[(True,)]
constructed fully qualified table name as: "sandbox.epa_sf6_from_elec_equip"
inserting 1012 records
  (1003708, '110000591930', 'AEP Corporate SF6 Emissions', 'Columbus', 'OH', '43215', '1 Riverside Plaza', 'WASHINGTON COUNTY', 39.588493, -81.682523, '221112', 'DD', 132693.72, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  (1010811, '110010724216', 'Ameren Illinois Electric', 'Peoria', 'IL', '61602', '300 Liberty Street', 'PEORIA COUNTY', 40.69048, -89.59244, '221122', 'DD', 7644.84, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  (1010812, '110011771948', 'Ameren Missouri Electric', 'St. Louis', 'MO', '63103', '1901 Chouteau Avenue', 'ST. LOUIS CITY', 38.620785, -90.211635, '221122', 'DD', 5264.52, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  ...
  (1010171, '110015846691', 'WAPA', 'Lakewood', 'CO', '80228', '12155 West Alameda Parkway', 'JEFFERSON COUNTY', 39.7061, -105.1367, '221122', 'DD', 18670.92, 't CO2', TIMESTAMP '2011-01-01 00:00:00+00:00')
batch insert result: [(1012,)]
:Suppliers:
:CO2 Injection:

create table epa_co2_injection (
    facility_id bigint,
    frs_id varchar,
    facility_name varchar,
    city varchar,
    state varchar,
    zip_code varchar,
    address varchar,
    county varchar,
    latitude double,
    longitude double,
    primary_naics_code varchar,
    latest_reported_industry_type_subparts varchar,
    total_reported_emissions double,
    total_reported_emissions_units varchar,
    year timestamp(6)
) with (
    format = 'ORC',
    partitioning = array['year']
)

[(True,)]
constructed fully qualified table name as: "sandbox.epa_co2_injection"
inserting 954 records
  (1002515, '110043804096', 'ARTESIA GAS PLANT', 'ARTESIA', 'NM', '88210', NULL, 'EDDY COUNTY', 32.7564, -104.2111, '211130', 'C,PP,UU,W-PROC', -1.0, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  (1010508, '110070082088', 'Adair San Andres CO2 Injection Unit - Permian Basin 430', 'Houston', 'TX', '77056', '2000 Post Oak Blvd, Suite 100', 'HARRIS COUNTY', 29.7446, -95.4612, '211120', 'UU', -1.0, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  (1009998, '110058379767', 'Albert Spicer Upper Morrow Unit', 'Booker', 'TX', '79005', NULL, 'OCHILTREE COUNTY', 36.4725, -100.5517, '211120', 'UU', -1.0, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  ...
  (1009926, '110055518408', 'Yates Field Injection', 'Irran', 'TX', '79744', '8965 Star Lane on Highway 190 West', 'PECOS COUNTY', 30.91455, -101.90977, '211120', 'UU', -1.0, 't CO2', TIMESTAMP '2011-01-01 00:00:00+00:00')
batch insert result: [(954,)]
:Geologic Sequestration of CO2:

create table epa_geologic_sequestration_of_co2 (
    facility_id bigint,
    frs_id varchar,
    facility_name varchar,
    city varchar,
    state varchar,
    zip_code varchar,
    address varchar,
    county varchar,
    latitude double,
    longitude double,
    primary_naics_code varchar,
    industry_type_subparts varchar,
    total_reported_emissions double,
    total_reported_emissions_units varchar,
    year timestamp(6)
) with (
    format = 'ORC',
    partitioning = array['year']
)

[(True,)]
constructed fully qualified table name as: "sandbox.epa_geologic_sequestration_of_co2"
inserting 20 records
  (1005661, '110050297936', 'Archer Daniels Midland Co.', 'DECATUR', 'IL', '62521', '4666 FARIES PARKWAY', 'Macon', 39.8675, -88.885, '311221', 'C,II,PP,RR (RPT)', 521581.4, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  (1010117, '110055519363', 'Core Energy Otsego County EOR Operations', 'Gaylord', 'MI', '49735', '597 Kubacki Road', 'OTSEGO COUNTY', 45.033842, -84.511469, '211120', 'RR (RPT),W-ONSH', 213515.2, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  (1011767, '110070082145', 'Denver Unit', 'Denver City', 'TX', '79323', '2611 State Hwy 214', 'YOAKUM COUNTY', 33.00338, -102.81901, '211120', 'RR (RPT)', 2812135.3, 't CO2', TIMESTAMP '2020-01-01 00:00:00+00:00')
  ...
  (1011767, '110070082145', 'Denver Unit', 'Denver City', 'TX', '79323', '2611 State Hwy 214', 'YOAKUM COUNTY', 33.00338, -102.81901, '211120', 'RR (RPT)', 3090607.7, 't CO2', TIMESTAMP '2016-01-01 00:00:00+00:00')
batch insert result: [(20,)]

In [12]:
tablename = 'Suppliers'
ghg_table = ghg_data[tablename].copy()
ghg_table['Zip Code'] = ghg_table['Zip Code'].astype(str).str.zfill(5)

ghg_value_names = [':'.join(list(reversed(x.split(' ', 1)))) for x in ghg_table.columns[-70:]]
ghg_table = ghg_table.rename(columns=dict(zip(ghg_table.columns[-70:], ghg_value_names)))
ghg_id_vars = ghg_table.columns[:-70]
# print(ghg_id_vars)
# print(ghg_value_names)
stubnames = [x.split(':', 1)[0] for x in ghg_value_names[0:70:10]]
# print(stubnames)
suppliers_df = pd.wide_to_long(ghg_table, stubnames=stubnames, i=ghg_id_vars, j='year', sep=':')
# Take care to null out all the `confidential` data
for sn in stubnames:
    suppliers_df[sn] = suppliers_df[sn].astype('Float64')
suppliers_df.dropna(subset=stubnames, how='all', inplace=True)
suppliers_df.reset_index(inplace=True)
suppliers_df.loc[suppliers_df.year.notnull(), 'year'] = pd.to_datetime(suppliers_df.year, format='%Y', utc=True)
# Put year at the end to make for more friendly partitioning
year_index = suppliers_df.columns.get_loc('year')
suppliers_df = suppliers_df[suppliers_df.columns[:year_index].to_list()
                            + suppliers_df.columns[year_index+1:].to_list()
                            + [suppliers_df.columns[year_index]]]

for sn in stubnames:
    new_stubname = osc.sql_compliant_name(' '.join(sn.split(' ')[4:] + ['ghg']))
    suppliers_df.rename(columns={sn:new_stubname}, inplace=True)
    stub_loc = suppliers_df.columns.get_loc(new_stubname)
    suppliers_df.insert(stub_loc+1, new_stubname + '_units', 't CO2')
suppliers_df = suppliers_df.convert_dtypes()

tablename = osc.sql_compliant_name(epa_table_prefix+tablename)
osc.enforce_sql_column_names(suppliers_df, inplace=True)
drop_table = engine.execute(f"drop table if exists {ingest_schema}.{tablename}")
drop_table.fetchall()

columnschema = osc.create_table_schema_pairs(suppliers_df, typemap={"datetime64[ns, UTC]":"timestamp(6)"})
tabledef = f"""
create table {tablename} (
{columnschema}
) with (
format = 'ORC',
partitioning = array['year']
)
"""
print(tabledef)

qres = engine.execute(tabledef)
print(qres.fetchall())
suppliers_df.to_sql(tablename,
                    con=engine, schema=ingest_schema, if_exists='append',
                    index=False,
                    method=osc.TrinoBatchInsert(batch_size = 10000, verbose = True))

create table epa_suppliers (
    facility_id bigint,
    frs_id varchar,
    facility_name varchar,
    city varchar,
    state varchar,
    zip_code varchar,
    address varchar,
    county varchar,
    latitude double,
    longitude double,
    primary_naics_code varchar,
    latest_reported_industry_type_subparts varchar,
    coal_based_liquid_fuel_production_ghg double,
    coal_based_liquid_fuel_production_ghg_units varchar,
    petroleum_products_produced_ghg double,
    petroleum_products_produced_ghg_units varchar,
    petroleum_products_imported_ghg double,
    petroleum_products_imported_ghg_units varchar,
    petroleum_products_exported_ghg double,
    petroleum_products_exported_ghg_units varchar,
    natural_gas_supply_ghg double,
    natural_gas_supply_ghg_units varchar,
    natural_gas_liquids_supply_ghg double,
    natural_gas_liquids_supply_ghg_units varchar,
    co2_supply_ghg double,
    co2_supply_ghg_units varchar,
    year timestamp(6)
) with (
format = 'ORC',
partitioning = array['year']
)

[(True,)]
constructed fully qualified table name as: "sandbox.epa_suppliers"
inserting 8539 records
  (1012147, '110070082172', '17Z Gas Plant - Chevron USA Inc.', 'McKittrick', 'CA', '93251', '22845 Highway 33', NULL, 35.3181871, -119.6338842, '211130', 'C,NN-FRAC,W-PROC', NULL, 't CO2', NULL, 't CO2', NULL, 't CO2', NULL, 't CO2', NULL, 't CO2', 38061.9, 't CO2', NULL, 't CO2', TIMESTAMP '2018-01-01 00:00:00+00:00')
  (1012147, '110070082172', '17Z Gas Plant - Chevron USA Inc.', 'McKittrick', 'CA', '93251', '22845 Highway 33', NULL, 35.3181871, -119.6338842, '211130', 'C,NN-FRAC,W-PROC', NULL, 't CO2', NULL, 't CO2', NULL, 't CO2', NULL, 't CO2', NULL, 't CO2', 113057.7, 't CO2', NULL, 't CO2', TIMESTAMP '2017-01-01 00:00:00+00:00')
  (1012147, '110070082172', '17Z Gas Plant - Chevron USA Inc.', 'McKittrick', 'CA', '93251', '22845 Highway 33', NULL, 35.3181871, -119.6338842, '211130', 'C,NN-FRAC,W-PROC', NULL, 't CO2', NULL, 't CO2', NULL, 't CO2', NULL, 't CO2', NULL, 't CO2', 162409.2, 't CO2', NULL, 't CO2', TIMESTAMP '2016-01-01 00:00:00+00:00')
  ...
  (1010967, '110003363119', 'terrebonne parish consolidated government', 'houma', 'LA', '70306', '301 plant road', 'TERREBONNE PARISH', 29.59106, -90.69955, '221210', 'NN-LDC', NULL, 't CO2', NULL, 't CO2', NULL, 't CO2', NULL, 't CO2', 43560.8, 't CO2', NULL, 't CO2', NULL, 't CO2', TIMESTAMP '2011-01-01 00:00:00+00:00')
batch insert result: [(8539,)]

In [13]:
# Everything below here is speculative / in process of design

## Load metadata following an ingestion process into trino metadata store

### The schema is *metastore*, and the table names are *meta_schema*, *meta_table*, *meta_field*

# Create metastore structure
metastore = {'catalog':'osc_datacommons_dev',
             'schema':'epa_ghgrp_md',
             'table':tablename,
             'metadata':custom_meta_content,
             'uuid':ingest_uuid}
# Create DataFrame
df_meta = pd.DataFrame(metastore)
# Print the output
df_meta